/* Hero Section */
.about-hero {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
    padding: 50px 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Section Styling */
.about-section {
    padding: 30px 20px; /* Increased padding for spacing */
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.about-section p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
    text-align: justify; /* Justify text for better readability */
}

.about-section h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
    text-align: left;
}

/* List Styling */
.about-section ul {
    list-style-type: disc;
    padding-left: 40px; /* Proper indentation for list items */
    margin-top: 15px;
}

.about-section ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}
.mission-vision-wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding-left: 5%
}

.mission-section, .vision-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.mission-image img, .vision-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-content, .vision-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-content {
    background-color: white;
}

.vision-content {
    background-color: #5e6a71;
    color: white;
}

.mission-content h2, .vision-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.mission-content p, .vision-content p {
    font-size: 1.1em;
    line-height: 1.8;
}
@media only screen and (max-width: 480px) {

.mission-image,.vision-image{
    display: none;
}
.mission-vision-wrapper{
    padding-left: 0;
}

.mission-content,.vision-content>h2{
    font-size: 2rem;

}
.mission-content,.vision-content>p{
    font-size: 0.8rem;

}
.mission-content,.vision-content{
    width: 100%;
    background:none;
    color: black;
}
}