.feedback-section {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feedback-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feedback-subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .feedback-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .feedback-card {
    background-color: #525a6a2a;
    border-radius: 1px;
    padding: 20px 45px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
  }
  
  .stars {
    color: #ffd700;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .feedback-text {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .client-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .client-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .client-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .client-location {
    font-size: 0.8rem;
    color: #777;
  }
  
  @media only screen and (max-width: 480px) {
  
    
    .feedback-card {
     
      width: 95%;
    }
    .feedback-text{
      font-size: 0.8rem;

    }
  
  }