.contact-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-title {
    font-size: 2.5rem;
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .contact-description {
    font-size: 1.2rem;
    text-align: center;
    color: #555555;
    width: 70%;
    margin-bottom: 30px;
  }
  
  .contact-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    gap: 10rem;
    margin-top: 3rem;

  }
  
  .contact-info {
    max-width: 400px;
    font-size: 1rem;
    color: #000000cb;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-info h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form {
    max-width: 500px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    color: #333333;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;

    transition: border-color 0.3s;
  }
   .form-group input{
    height: 30px;
   }
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
  }
  
  .submit_button {
    padding: 10px 25px;
    font-size: 1rem;

    background-color: #0d3965;
    color: #ffffff;
    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit_button:hover {
    background-color: #1b4e80;
  }
  
  @media only screen and (max-width: 480px) {
    .contact-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      margin-top: 3rem;
  
    }
    .contact-form{
      width: 80vw;
    }
    .form-group input,
    .form-group textarea {
      width: 90%;
    }
    .contact-info>h3{
      font-size: 1rem;
    }
  
    .contact-info>p{
    font-size: 0.8rem;
    }
    .form-group label{
      font-size: 0.7rem
    }
  }