.nav_main{
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: top 0.3s ease-in-out;
    
}
.nav_main.true{
    top: 0;
}
.nav_main.false{
    top: 0;
   
}
.nav_main.true>.nav_con{
    
   background-color: white;
   color: black;
   .nav_con1.home,.nav_con1.web,.nav_con1.digital,.nav_con1.contac,.nav_con1.data,.nav_con1.about{
    
    color: rgb(0, 0, 0);
   }
   .nav_con1{
    color: black;
   }
   .nav_con1::after {
   
    background-color: #000000;
  }

}
.nav_con0>img{
    width: 130px;
    
}

.nav_con{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 3rem;
    height: 70px;
    align-items: center;
    backdrop-filter: blur(10px);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    transition: all 0.3s ease-in-out;

}
.nav_con1{

    border-radius: 3px;
    display: inline-block;
    position: relative;
    color: #ffffffd9;
    cursor: pointer;
    transition: color 0.3s ease;
  
    
}
.nav_con1.home,.nav_con1.about,.nav_con1.web,.nav_con1.digital,.nav_con1.contact,.nav_con1.data{
    color: white;
    font-weight: 500;
}

.nav_con1::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #f6f6f6;
    transition: width 0.3s ease;
  }
  

  
  .nav_con1:hover::after {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
  

    .nav_con{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 60px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.51);
        backdrop-filter: blur(10px);
        color: white;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.8px;
        transition: all 0.3s ease-in-out;
    
    }
}
.nav_con2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.nav_con1>img{
    height: 40px;
}



@media only screen and (max-width: 480px) {
  
   
    .mobile_nav_main {
        width: 100%;
        background-color: #cd27271e;
        position: fixed;
        backdrop-filter: blur(10px);
        top: 0;
        z-index: 1000;
        text-decoration: none;
        
    }

    
    .mobile_nav_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;
        background-color: white;

    }
    
    .mobile_nav_logo img {
        height: 30px;
    }
    
    .menu_button {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;

    }
    
    .mobile_nav_menu {
        display: flex;
        flex-direction: column;
        background-color: #f9f9f900;
        padding: 10px 0;
        gap: 1rem;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

    }
       
    .mobile_nav_item {
        padding: 10px 20px;
        text-align: left;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    .mobile_nav_item:hover {
        background-color: #ddd;
    }
    
}