.wd_top_section{
    width: 100%;
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.wd_top_section>p{
    width: 60%;
    text-align: center;
    letter-spacing: 0.7px;
    word-spacing: 1px;
    font-size: 0.9rem;
}
.wd_top_section>h1{
    font-size: calc(1rem + 2vw);
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 400;
    text-align: center;
}
.wd_top_section>button{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.734);
    position: absolute;
    bottom: 10vh;
}
.wd_section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.wd_section2>h1{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.wd_section2_1{
    display: flex;
    flex-direction: row;
    padding: 0 8rem;
    justify-content: space-between;
    margin-top: 3rem;

}
.wd_section2_11{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.wd_section2_12{
    display: flex;
    justify-content: start;
    align-items: start;
}
.wd_section2_12>img{
    width: 500px;
    border-radius: 20px;
    
}
.wd_section2_11>p{
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    font-weight: 400;
    color: rgb(59, 59, 59);
}
.wd_section2>p{
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    font-weight: 400;
    color: rgb(59, 59, 59);
    width: 70%;
    text-align: center;
    margin-top: 1rem; 
}
.wd_section2_11>h5{
    font-size: 1.2rem;
    font-weight: 500;
}
.wb_services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: rgba(61, 61, 61, 0.19);
}
.wb_services1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.wb_services2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
    gap: 2rem;
    padding: 0 7vw;

}
.wb_services21{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px 10px;
}
.wb_services21>img{
    width: 90%;
    border-radius: 10px;


}
.wb_services21>h3{
    font-size: 1rem;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    word-spacing: 1.2px;
    font-weight:500;

}
.wb_services21>p{
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: rgb(54, 54, 54);
    font-weight: 400;
}
.wd_section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.wd_section32{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.wd_section32_1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.wd_section32_2{
    width: 30%;
}
.wd_section32_1>div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.wd_section32_1>div>h6{
    font-size: 1rem;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    word-spacing: 1.2px;
    font-weight:500;
}

.wd_end{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.wd_end>p{
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
}
.wd_end>button{
    padding: 10px 25px;
    border-radius: 25px;
    background: black;
    border: none;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.wd_section32_2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wd_section32_2>img{
    height: 80%;
    width: 25vw;
    border-radius: 10px;
  }
  .wb_services2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .wd_top_section > p {
        width: 90%;
    }
    .wd_section2_1 {
        flex-direction: column;
        padding: 0 2rem;
    }
    .wd_section2_12 > img {
        width: 100%;
    }
    .wd_section32{
        display: flex;
        flex-direction: column;
    }
    .wd_section32_1{
        width: 80%;
        padding-left: 5%;
        
    }
    .wd_section32_1>div>h6{
        font-size: 0.9rem;
    }
    .wd_section32_1>div>p{
        font-size: 0.7rem;
    }
    .wd_section32_2{
        width: 90%;
    }
    .wd_section32_2>img{
        width: 80%;
    }
    .wd_section2_11{
        width: 90%;
        padding-bottom: 20px;
    }
    .wd_section2_11>p{
        font-size: 0.8rem;

    }
    .wd_section2>h1{
        font-size: 1.3rem;
        text-align: center;
    }
    .wd_section2>p{
        font-size: 0.8rem;
        text-align: center;
        width: 95%;
    }
    .wd_end>p{
        width: 80%;
        font-size: 0.9rem
    

    }  .wb_services2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
        gap: 2rem;
    }
    
}